@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .logo {
    @apply h-24 p-6 transition-all;
  }

  .logo:hover {
    @apply drop-shadow-lg;
  }

  .logo.vanilla:hover {
    @apply drop-shadow-[0_0_2em_#f7df1eaa];
  }

  .card {
    @apply p-8;
  }

  .read-the-docs {
    @apply text-gray-500;
  }

  button {
    @apply rounded-lg border border-transparent px-5 py-2 text-base font-medium cursor-pointer transition-colors;
    @apply bg-slate-900 hover:border-blue-500;
  }

  button:focus,
  button:focus-visible {
    @apply outline-4 outline-blue-500;
  }

  @media (prefers-color-scheme: light) {
    button {
      @apply bg-gray-100;
    }
  }
}
